__pycache__/
*.pyc
*.pyo
*.log
test_results.txt
fast_results.txt
run_test.py
test_api.py
test_fast.py
test_multi.py
test_urls.py
test_all_videos.py
.env
.idea/
.vscode/
node_modules/

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
!.env.example
